  body {
    margin: 0;
    width: 95%
    font-family: 'Ubuntu Condensed', sans-serif;
  }
  #p {
    color: #001f3f;
  }
  .navbar-header a {
    font-size: 1.5em;
    color: #fff;
  }
  .navbar-header a:hover {
    font-size: 1.5em;
    color: wheat;
  }
  .nav-item a {
    color: #fff;
  }
  .nav-item a:hover {
    color: wheat;
  }
  #myIcon {
    color: red;
  }
  #nav {
    background-color: #11122b;
  }
  .jumbotron {
    padding: 1rem;
    border-radius: 0;
  }
  .padding{
    padding-bottom: 2rem;
  }
  .welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
  }
  .welcome hr {
    border-top:  2px solid #001f3f;
    width: 95%;
    margin-top: .3rem;
      /* margin-bottom: 1rem; */
  }
  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
  }
  .grid-wrapper > .container h2, p {
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 1.2em;
  }

  .grid-wrapper > .container p {
    color: #001f3f;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.2em;
  }
  .box {
    background-color: #3cbfdd;
    padding: 30px;
    margin: 20px;
  }

  #img{
    width: 100%;
    height: 250px;
    border: 1px dashed green;
    border-radius: 42%;
    margin-bottom: 10px;
  }

  footer {
    text-align: center;
    background: wheat;
    color:#11122b;
    font-size: 0.8em;
    padding: 5px;
  }

  #login, #register{
    width: 45%;
    margin: 0 auto;
    border: 2px dashed green;
  }
  #login, #register h2 {
    font-family: 'ZCOOL XiaoWei', serif;
    letter-spacing: 2px;
  }
  #border {
    border: 1px dashed #11122b;
    border-radius: 8%;
  }